        /*light blue: rgb(0, 212, 254); other is rgb(0, 172, 234);*/
        html, body, div, a, p, h1, h2, h3, h4, h5, h6 {
            max-width: 100%;
            overflow-x: hidden;
        }
		
		/*Animated background gradient*/
		.animated-background {
			background: linear-gradient(270deg, #ffffff, #eeeeee);
			background-size: 200% 200%;
			animation: BackgroundGradient 10s ease infinite;
			transform: translateZ(0); /*To force it to render on its own layer and avoid lag*/
		}
		@keyframes BackgroundGradient { 
			0%{
				background-position:0% 50%;
			}
			50%{
				background-position:100% 50%;
			}
			100%{
				background-position:0% 50%;
			}
		}
		
		.sis-charity-links {
			transition: opacity 200ms ease;
		}
		
		.silent-link {
			color: black;
		}
			.silent-link:hover {
				color: black;
			}
			.silent-link:active {
				color: black;
			}
		
		.value-prop {
			margin-top: 1rem; 
			transition: 200ms ease;
		}
			.value-prop:hover {
				background-color: lightgray;
			}
		
		.value-props {
			margin-top: 2rem;
			margin-bottom: 2rem; 
		}
		.value-img {
			margin-bottom: 1rem; 
			display: block;
			text-align: center;
			margin: 2.5rem auto 0;
		}
		
		blockquote {
			background-color: lightgray;
			padding: 5px;
			border-radius: 10px;
		}
		
		ul { 
			display:table; 
			margin:0 auto;
		}
		
		ul > li {
            font-family: Raleway, Helvetica, Arial, Sans-Serif;
			font-size: 1.2em;
		}

        .header-background {
            background-image: url("images/header_background.jpg");
            background-size: contain;
        }

		.header-pre {
			margin-top: 4rem;
		}
		.header-post {
			margin-bottom: 3rem;
		}
		
		.large-header {
			text-align: center;
		}
		
		.large-subheader {
			text-align: center;
		}
		
		.section-header {
			margin-top: 1rem;
			margin-bottom: 1rem;
			text-align: center;
		}
		
		.section-content {
			text-align: center;
		}
		
        body {
            font-family: Raleway, Helvetica, Arial, Sans-Serif;
            transition: opacity 0.5s ease;
        }

        a {
            text-decoration: none;
        }

        .section-divider {
            overflow-x: hidden;
            z-index: -1000;
            margin-top: -50px;
            padding-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 30px;
            margin-left: -10px;
            margin-right: -10px;
            background-color: white;
            box-shadow: 0px 5px 5px 0px rgba(171,171,171,1);
            transition: box-shadow .5s ease;
            padding: none;
            color: transparent;
            border-top: none;
            border-bottom: 1px;
            border-bottom-color: black;
        }

            .section-divider:hover {
                box-shadow: 0px 5px 5px 0px rgba(30,30,30,1);
            }

        .centerable {
            margin: auto;
        }

        .bottom-copyright {
            color: darkgray;
            text-align: center;
        }

        .text-content {
            text-align: center;
            margin: auto;
            padding-left: 10px;
            padding-right: 10px;
        }

        .header-text {
            color: rgb(0, 212, 254);
            text-align: center;
            transition: transform .5s, text-shadow 0.5s;
            opacity: 0.99;
        }
		
		.navbar-link {
            font-family: Raleway, Helvetica, Arial, Sans-Serif;
			color: gray;
			padding-left: 1rem;
			padding-right: 1rem;
			display: inline-block;
		}
			.navbar-link:hover {
				color: darkgray;
			}
			
			.navbar-link:active {
				color: black;
			}

        .navbar-outer {
            z-index: 99999;
            border-bottom: 1px solid;
            border-bottom-color: gray;
            border-top: 1px solid;
            border-top-color: gray;
            top: 0;
            width: 100%;
            background: white;
            transition: box-shadow 500ms;
        }

        .navbar-img-container {
            transition: width .2s linear, height .2s linear;
            width: 0px;
			height: 0px;
            margin: auto;
            padding-top: 5px;
            padding-bottom: 5px;
			display: block;
        }
		
		.navbar-links-section {
			padding-bottom: 5px;
			text-align: center;
		}
		
		@keyframes navbar_shake {
			0% { transform: scale(1); }
			50% { transform: scale(0.9); }
			100% { transform: scale(1); }
		}
        .navbar-img {
            transition: transform .8s ease-in-out;
            width: 75px;
			height: 87px; /*Change height to be proportional when changing header image*/
			display: inline;
        }

            .navbar-img:hover {
				animation-name: navbar_shake;
				animation-duration: 200ms;
				animation-iteration-count: 3;
				animation-timing-function: linear;
                transform-origin: center center;
            }

        .input-with-button {
            width: 90%;
            max-width: 500px;
        }

        .input-button {
            display: inline-block;
            font-size: 2em;
			max-width: 90px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid darkgray;
            background: white;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            transition: all 0.5s ease;
            color: rgb(0, 172, 234);
        }

            .input-button:hover {
                background: rgb(0, 172, 234);
                color: rgb(0, 212, 254);
                box-shadow: 0px 0px 4px 1px lightblue;
            }

        .small-text-input {
            display: inline-block;
            margin: 0;
            font-size: 2em;
            max-width: 390px;
            margin-right: 0px;
            border-top-left-radius: 6px;
            border: 1px solid darkgray;
            border-bottom-left-radius: 6px;
            width: 80%;
        }

            .small-text-input:active {
                border: 1px solid rgb(0, 212, 254);
            }

            .small-text-input:hover {
                border: 1px solid rgb(0, 172, 234);
            }

        .tw-align-center {
            width: 100%;
            max-width: 520px;
        }

        @media screen and (min-width: 769px) {
            .text-content {
                max-width: 70%;
            }
			
			.navbar-img-container {
				width: 75px;
				height: auto;
			}
			
			.navbar-link {
			}

			.navbar-home-btn {
				display: none;
			}
			
            .body-right-inset {
                pointer-events: none;
                position: fixed;
                z-index: 999999;
                right: 0;
                width: 15px;
                top: 0;
                height: 100%;
                box-shadow: inset -15px 0px 15px -15px rgba(127,127,127,0.45);
            }
        }